* , *::before , *::after{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FCF8F5;
}

.items{
    /* width: ; */
}

.img{
    width: 100%;
}

.item-info p{
    margin-bottom: 0;
}

.cart-item button{
    position: absolute;
    top: 57%;
}